<div class="container px-5 px-sm-0">
  <div id="error_explanation" class="text-danger">
    <% if @book.errors.any? %>
      <h3><%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:</h3>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="row">
    <%= render 'left', user: @user %>
    <%= render 'index', books: @books %>
  </div>
  
</div>